# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Swift files
[*.swift]
indent_size = 4
max_line_length = 120

# JSON files
[*.json]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Xcode project files
[*.pbxproj]
indent_style = tab
indent_size = 4

# Shell scripts
[*.sh]
indent_size = 2